
// this should contain the style for the website (doc - blox-doc.css) not the style of the choosen component
// the style who are not included inside the exportable blox.css

@import 'compass';

@import
  'modules/variables',
  'modules/mixins';

// All styles here should be prefixed .blx-dox- to scope
// doc styles and prevent conflicts with any component styles


// =======================
//   Header + Nav
// =======================

.blx-dox-bar {
  background: linear-gradient($gray-lighter + 10, $gray-lighter);
  color: $body-bg;

  /* Desktop style
  @include MQ(Mplus) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $blx-dox-sidebar-width;
    text-align: left;
  }
  */
}

.blx-dox-header--logo__link {
  color: rgba($gray-darker, .3);
  font-family: $headings-font-family;
  font-weight: bold;
  text-shadow: 1px 1px 0 $white;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: color $trans-duration linear;
  &:hover {
    text-decoration: none;
    color: rgba($gray-darker, 1);

  }
  @include MQ(Mplus) {
    float: left;
  }
}

.blx-dox-header--nav {
  margin-top: 0;
  font-family: $headings-font-family;
  @include MQ(Mplus) {
    float: right;
  }
}


// =======================
//   Content
// =======================

.blx-dox-content {
  overflow: auto;
  padding: 1rem;

  /* Desktop style
  @include MQ(Mplus) {
    position: absolute;
    left: $blx-dox-sidebar-width;
    top: 0;
    bottom: 0;
    right: 0;

  }
  */
}

.blox-logo {
  width: 32px;
  height: 33px;
  display: inline-block;
  position: relative;
  top: 3px;
}

// =======================
//   Blox Grid
// =======================

.show-grid {
  margin-bottom: 15px;
  font-size: .75rem;
  color: rgba($text-color-base, .8);
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba($blue,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba($blue,.2);
}