  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) {{page.baseurl}}css/main.css -->
  <link rel="stylesheet" href="/_bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/blox.css">
  <link rel="stylesheet" href="/css/docs.css">

  <!-- endbuild -->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Oswald:700,400' rel='stylesheet' type='text/css'>

  <!-- build:js {{page.baseurl}}js/vendor/modernizr.js -->
  <script src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->