// =======================
//	 Variables
// =======================



// =======================
//	 Global Styles
// =======================

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $white - 10;
}



// =======================
//   Banners
// =======================

.banner,
%banner {
  width: 100%;
  padding: 1rem 1rem;
  margin-left: -1rem;
  box-sizing: content-box;
}

.banner__header {
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

// Color swatch banners
.banner--aqua,
.banner--blue,
.banner--navy,
.banner--teal,
.banner--green,
.banner--olive,
.banner--lime,
.banner--yellow,
.banner--orange,
.banner--red,
.banner--fuchsia,
.banner--purple,
.banner--maroon,
.banner--white,
.banner--gray-lighter,
.banner--gray-light,
.banner--gray,
.banner--gray-dark,
.banner--gray-darker,
.banner--black {
  @extend %banner;
}

// Some need light text for dark backgrounds
.banner--navy,
.banner--orange,
.banner--red,
.banner--fuchsia,
.banner--maroon,
.banner--purple,
.banner--gray-dark,
.banner--gray-darker,
.banner--black {
  color: $white;
}

.banner--aqua           { background-color: $aqua; }
.banner--blue           { background-color: $blue; }
.banner--navy           { background-color: $navy; }
.banner--teal           { background-color: $teal; }
.banner--green          { background-color: $green; }
.banner--olive          { background-color: $olive; }
.banner--lime           { background-color: $lime; }
.banner--yellow         { background-color: $yellow; }
.banner--orange         { background-color: $orange; }
.banner--red            { background-color: $red; }
.banner--fuchsia        { background-color: $fuchsia; }
.banner--purple         { background-color: $purple; }
.banner--maroon         { background-color: $maroon; }
.banner--white          { background-color: $white; }
.banner--gray-lighter   { background-color: $gray-lighter; }
.banner--gray-light     { background-color: $gray-light; }
.banner--gray           { background-color: $gray; }
.banner--gray-dark      { background-color: $gray-dark; }
.banner--gray-darker    { background-color: $gray-darker; }
.banner--black          { background-color: $black; }


// =======================
//   Navbar
// =======================

.navbar {
  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: $navbar-margin-bottom;
  border: 0 solid transparent;
  box-shadow: 0 1px 0 $gray-light;

  // Prevent floats from breaking the navbar
  @include clearfix();
}

// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix();

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  box-shadow: 0 1px 0 $nav-tabs-border-color;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: 0;
      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}