// =======================
//	 Variables
// =======================



// =======================
//	 Global Styles
// =======================

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
	position: relative;
	margin: 0;
	overflow: hidden;
}



// =======================
//   Banners
// =======================

.banner,
%banner {
  width: 100%;
  padding: 1rem 1rem;
  margin-left: -1rem;
}

.banner__header {
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

// Color swatch banners
.banner--aqua,
.banner--blue,
.banner--navy,
.banner--teal,
.banner--green,
.banner--olive,
.banner--lime,
.banner--yellow,
.banner--orange,
.banner--red,
.banner--fuchsia,
.banner--purple,
.banner--maroon,
.banner--white,
.banner--gray-lighter,
.banner--gray-light,
.banner--gray,
.banner--gray-dark,
.banner--gray-darker,
.banner--black {
  @extend %banner;
}

// Some need light text for dark backgrounds
.banner--navy,
.banner--orange,
.banner--red,
.banner--fuchsia,
.banner--maroon,
.banner--purple,
.banner--gray-dark,
.banner--gray-darker,
.banner--black {
  color: $white;
}

.banner--aqua           { background-color: $aqua; }
.banner--blue           { background-color: $blue; }
.banner--navy           { background-color: $navy; }
.banner--teal           { background-color: $teal; }
.banner--green          { background-color: $green; }
.banner--olive          { background-color: $olive; }
.banner--lime           { background-color: $lime; }
.banner--yellow         { background-color: $yellow; }
.banner--orange         { background-color: $orange; }
.banner--red            { background-color: $red; }
.banner--fuchsia        { background-color: $fuchsia; }
.banner--purple         { background-color: $purple; }
.banner--maroon         { background-color: $maroon; }
.banner--white          { background-color: $white; }
.banner--gray-lighter   { background-color: $gray-lighter; }
.banner--gray-light     { background-color: $gray-light; }
.banner--gray           { background-color: $gray; }
.banner--gray-dark      { background-color: $gray-dark; }
.banner--gray-darker    { background-color: $gray-darker; }
.banner--black          { background-color: $black; }
