html,
:root {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-base;
  color: $black;
}


a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

.lead {
  font-size: 1.5rem;
  margin: .5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
}