html,
:root {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-base;
  color: $black;
}

a,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lighten($blue, 10%);
}

.lead {
  font-size: 1.5rem;
  margin: .5rem 0;
}