// VARIABLES
// -------------------------


// Colors - from clrs.cc
// -------------------------
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool
$aqua:  #7FDBFF !default;
$blue:  #0074D9 !default;
$navy:  #001F3F !default;
$teal:  #39CCCC !default;
$green: #2ECC40 !default;
$olive: #3D9970 !default;
$lime:  #01FF70 !default;

// Warm
$yellow:  #FFDC00 !default;
$orange:  #FF851B !default;
$red:     #FF4136 !default;
$fuchsia: #F012BE !default;
$purple:  #B10DC9 !default;
$maroon:  #85144B !default;

// Gray Scale
$white:        #fff !default;
$gray-lighter: #ddd !default;
$gray-light:   #bbb !default;
$gray:         #999 !default;
$gray-dark:    #777 !default;
$gray-darker:  #444 !default;
$black:        #111 !default;


// Fonts
// -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;

$text-color-base:         $gray-dark !default;


// Media Query Breakpoints
$XS:   200px !default;
$S:    500px !default;
$M:    760px !default;
$L:    1008px !default;
$XL:   1760px !default;
$XXL:  2880px !default;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-sm-min !default;







// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
$container-lg:                 $container-large-desktop !default;

// Blox Docs variables
// -------------------------
$blx-dox-sidebar-width : 200px;