---
title: Blox - Buttons
slug: buttons
baseurl: ../
---

<div class="jumbotron">
  <h1>Buttons <i class="fa fa-code"></i></h1>
  <p class="lead">This are buttons</p>
</div>

<div class="row">
  <div class="col-lg-12">


{{#markdown}}


{{/markdown}}

  </div>
</div>



