---
title: Blox - Colors
slug: colors
baseurl: ../
---

<div class="jumbotron">
  <h1>Colors <i class="fa fa-code"></i></h1>
  <p class="lead">Base colors to start a new project. Based on <a href="http://clrs.cc">clrs.cc</a></p>
</div>

<div class="row">
  <div class="col-lg-12">

    <div class="banner--navy">
      <div class="container">
        <h4 class="banner__header">Navy</h4>
        <p class="lead">#001F3F</p>
      </div>
    </div>
    <div class="banner--blue">
      <div class="container">
        <h4 class="banner__header">Blue</h4>
        <p class="lead">#0074D9</p>
      </div>
    </div>
    <div class="banner--aqua">
      <div class="container">
        <h4 class="banner__header">Aqua</h4>
        <p class="lead">#7FDBFF</p>
      </div>
    </div>
    <div class="banner--teal">
      <div class="container">
        <h4 class="banner__header">Teal</h4>
        <p class="lead">#39CCCC</p>
      </div>
    </div>
    <div class="banner--olive">
      <div class="container">
        <h4 class="banner__header">Olive</h4>
        <p class="lead">#3D9970</p>
      </div>
    </div>
    <div class="banner--green">
      <div class="container">
        <h4 class="banner__header">Green</h4>
        <p class="lead">#7FDBFF</p>
      </div>
    </div>
    <div class="banner--lime">
      <div class="container">
        <h4 class="banner__header">Lime</h4>
        <p class="lead">#01FF70</p>
      </div>
    </div>
    <div class="banner--yellow">
      <div class="container">
        <h4 class="banner__header">Yellow</h4>
        <p class="lead">#FFDC00</p>
      </div>
    </div>
    <div class="banner--orange">
      <div class="container">
        <h4 class="banner__header">Orange</h4>
        <p class="lead">#FF851B</p>
      </div>
    </div>
    <div class="banner--red">
      <div class="container">
        <h4 class="banner__header">Red</h4>
        <p class="lead">#FF4136</p>
      </div>
    </div>
    <div class="banner--maroon">
      <div class="container">
        <h4 class="banner__header">Maroon</h4>
        <p class="lead">#85144B</p>
      </div>
    </div>
    <div class="banner--purple">
      <div class="container">
        <h4 class="banner__header">Purple</h4>
        <p class="lead">#B10DC9</p>
      </div>
    </div>
    <div class="banner--fuchsia">
      <div class="container">
        <h4 class="banner__header">Fuchsia</h4>
        <p class="lead">#F012BE</p>
      </div>
    </div>
    <div class="banner--white">
      <div class="container">
        <h4 class="banner__header">White</h4>
        <p class="lead">#FFF</p>
      </div>
    </div>
    <div class="banner--gray-lighter">
      <div class="container">
        <h4 class="banner__header">Gray Lighter</h4>
        <p class="lead">#DDD</p>
      </div>
    </div>
    <div class="banner--gray-light">
      <div class="container">
        <h4 class="banner__header">Gray Light</h4>
        <p class="lead">#BBB</p>
      </div>
    </div>
    <div class="banner--gray">
      <div class="container">
        <h4 class="banner__header">Gray</h4>
        <p class="lead">#999</p>
      </div>
    </div>
    <div class="banner--gray-dark">
      <div class="container">
        <h4 class="banner__header">Gray Dark</h4>
        <p class="lead">#777</p>
      </div>
    </div>
    <div class="banner--gray-darker">
      <div class="container">
        <h4 class="banner__header">Gray Darker</h4>
        <p class="lead">#444</p>
      </div>
    </div>
    <div class="banner--black">
      <div class="container">
        <h4 class="banner__header">Black</h4>
        <p class="lead">#111</p>
      </div>
    </div>
  </div>
</div>



