---
title: Blox - Colors
slug: colors
baseurl: ../
---

<div class="jumbotron">
  <h1>Colors <i class="fa fa-code"></i></h1>
  <p class="lead">Colors</p>
</div>

<div class="row">
  <div class="col-lg-12">

    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--blue">
      <h1>Blue</h1>
      <h2>#0074D9</h2>
    </div>
    <div class="swatch--navy">
      <h1>Navy</h1>
      <h2>#001F3F</h2>
    </div>
    <div class="swatch--teal">
      <h1>Teal</h1>
      <h2>#39CCCC</h2>
    </div>
    <div class="swatch--green">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>
    <div class="swatch--aqua">
      <h1>Aqua</h1>
      <h2>#7FDBFF</h2>
    </div>


  </div>
</div>



