---
title: Blox - A Component Library
slug: home
baseurl:
---

<div class="jumbotron">
  <h1>Welcome to Blox <small>v0.1.0</small></h1>
  <p class="lead">A component library for SQLI Agency CH</p>
</div>

<div class="row">
  <p>Something somethings</p>
</div>
